@font-face {
  font-family: 'Great-Vibes';
  src: url('Great-Vibes.ttf') format('truetype');
}
@font-face {
  font-family: 'Lobster-Two';
  src: url('Lobster-Two.ttf') format('truetype');
}
@font-face {
  font-family: 'Ribeye-Marrow';
  src: url('Ribeye-Marrow.ttf') format('truetype');
}
