@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Kablammo&family=Lobster&family=Pacifico&family=Poppins&family=Sacramento&family=Satisfy&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.lower-canvas {
  filter: drop-shadow(rgba(0, 0, 0, 1) -4px 4px 10px) drop-shadow(rgba(0, 0, 0, 0.319) 2px 2px 20px);
}

.App {
  display: flex;
  height: 100vh;
}

.fabricHolder {
  flex: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.editor {
  /* margin: auto; */
  text-align: right;
  width: fit-content;
  transition: transform 0.5s ease-in-out;
  /* border: dashed rgb(255, 255, 255) 8px; */

  transform: scale(0.25);
}
.exporter {
  /* margin: auto; */
  text-align: right;
  width: fit-content;
  transition: transform 0.5s ease-in-out;
}
