@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Kablammo&family=Lobster&family=Pacifico&family=Poppins&family=Sacramento&family=Satisfy&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.lower-canvas {
  filter: drop-shadow(rgba(0, 0, 0, 1) -4px 4px 10px) drop-shadow(rgba(0, 0, 0, 0.319) 2px 2px 20px);
}

.App {
  display: flex;
  height: 100vh;
}

.fabricHolder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  height: 70%;
  position: relative;

  width: 400px;
  height: 400px;
}
.editor {
  /* margin: auto; */
  transform: scale(0.25);
  text-align: right;
  width: fit-content;
  transition: transform 0.3s ease;
}

.loading {
  position: absolute;
}

.cartLoading {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1em;
  aspect-ratio: 1;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
}

.cartLoading > * {
  margin: 0.5em;
  padding: 0;
}

.editor.preparingCart {
  opacity: 0 !important;
}

.exporter {
  /* margin: auto; */
  text-align: right;
  width: fit-content;
  transition: transform 0.5s ease-in-out;
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1em;
  margin: 1em 2em;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  right: 0;
  color: #424242;
}

.Shopify {
  width: 100%;
  padding: 15px;
  background-color: #5bc6cd;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: Poppins;
  font-weight: 900;
  cursor: pointer;
  font-size: large;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  align-items: center;
}

/* 
media queries */
@media (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr 1fr;
    justify-content: space-between;
    justify-items: center;
    align-items: end;
    height: 100%;
    width: 100%;
  }

  .fabricHolder {
    max-width: 100%;
    flex: 0;
  }
}
